# Java
/target/
**/target/
*.class
*.jar
*.war
*.ear

# Maven
/logs/
/release/

# IDEs
/.idea/
*.iml
/.vscode/

# Node
/node_modules/
/frontend/node_modules/
/dist/

# OS files
.DS_Store
Thumbs.db

# Misc
*.log
.env
